package controllers

import (
	"github.com/gin-gonic/gin"
	"{{.projectPath}}/app/database"
	"{{.projectPath}}/app/middlewares"
	"{{.projectPath}}/app/models"
	"{{.projectPath}}/app/response"
	"{{.projectPath}}/validator"
)

//Create your index here
func index() {
    //Write your logic here
}